asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==3.2.0
Django==4.2.5
django-rest-framework==0.1.0
djangorestframework==3.14.0
idna==3.4
metaphor-python==0.1.16
pytz==2023.3.post1
requests==2.31.0
sqlparse==0.4.4
typing_extensions==4.7.1
urllib3==2.0.4
asgiref==3.7.2
Django==4.2.5
python-http-client==3.3.7
sendgrid==6.10.0
sqlparse==0.4.4
starkbank-ecdsa==2.2.0
typing_extensions==4.7.1
